<li>
  <p><%= comment.text %>  <% if current_user %><a href="#">Like</a><% end %></p>
  <div class="reply">
    <% if current_user %>
      <p><a href="#" class="reply-link">Reply</a></p>
    <% end %>
    <div class="reply-form hidden">
      <%= render "comment_comment_form", comment: comment %>
    </div>
  </div>
  <ul>
    <% comment.comments.each do |comment| %>
      <%= render "comment", comment: comment %>
    <% end %>
  </ul>

</li>