

<h1 class="page-header text-center">All the Posts</h1>

<% @posts.each do |post| %>
  <h3><%= link_to post.title, post.url %></h3>
  <p><%= link_to "Comments", post_comments_path(post) %></p>
<% end %>
